@font-face {
  font-family: 'MyFontAbout';
  src: local('MyFontAbout'),
    url(../../../src/assets/fonts/Exec-Corners-Regular.woff) format('woff');
}
.aboutPara {
  font-size: 1.3rem;
  font-family: 'MyFontAbout';
  color: #f7f7f7;
  margin: 0;
  line-height: 1.5;
}

hr {
  width: 30%;
  height: 5px;
  border: none;
  background-color: #ffc86b;
  margin: 10px 0;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15%;
}

.imageStyle {
  width: 80%;
  max-height: 400px;
  object-fit: contain;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #333;
  margin: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
}

@media (max-width: 961px) {
  .aboutPara {
    font-size: 17px;
    font-family: 'MyFontAbout';
    color: #f7f7f7;
  }
  .aboutContainer {
    display: block;
    align-items: center;
    justify-content: center;
  }

  .imageStyle {
    margin-top: 15%;
    width: 70%;
  }
}
