@font-face {
  font-family: 'TextFont';
  src: local('TextFont'),
    url(../../assets/fonts/fonnts.com-Mencken-Std-Text-Extra-Bold.otf)
      format('woff');
  font-family: 'ContactFont';
  src: local('ContactFont'),
    url(../../assets/fonts/GoldenSans-LightDemo.otf) format('woff');
  font-family: 'EndTitleFont';
  src: local('EndTitleFont'),
    url(../../assets/fonts/TabacG3Medium.woff) format('woff');
}

.contactText {
  font-family: 'ContactFont';
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1%;

  background-color: #3d3e42;
}

.container p {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  text-align: center;
  font-size: 26px;
  color: #ffc86b;
  padding: 0 10px;
  width: 35%;
  white-space: nowrap;
  cursor: pointer;
}

.container p:nth-child(1),
.container p:nth-child(2) {
  background-color: #31333b;
}

.container p:nth-child(3) {
  background-color: #31333b;
  margin-left: 10px;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondTitleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #333;
  margin: 0 20px;
}

.title {
  font-family: 'TextFont';
  color: #f9f9f9;
  font-size: 3rem;
}

.endTitle {
  font-family: 'EndTitleFont';
  color: #ffc86b;
  text-align: center;
  margin-top: 10%;
  font-size: 3rem;
}

@media (max-width: 500px) {
  .contactText {
    font-family: 'ContactFont';
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: 13px !important;
  }

  .line {
    margin: 0px 10px;
  }
  .title {
    font-size: 25px !important;
  }

  .container {
    padding: 10px;
    margin-top: 10%;
  }

  .container p {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  hr {
    width: 80%;
  }

  .titleContainer {
    display: unset;
    text-align: center;
  }

  .secondTitleContainer {
    display: block;
    text-align: center;
  }

  .icons {
    margin: 8%;
  }

  .container p:nth-child(3) {
    margin-left: 0;

    .titleContainer,
    .secondTitleContainer {
      flex-direction: column;
      margin-top: 10%;
    }
  }

  .endTitle {
    font-size: 20px !important;
  }
}

@media (max-width: 750px) {
  .contactText {
    font-family: 'ContactFont';
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: 13px !important;
  }
  .title {
    font-size: 25px !important;
  }

  .container {
    padding: 10px;
    margin-top: 10%;
  }

  .container p {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  hr {
    width: 80%;
  }

  .titleContainer {
    display: unset;
    text-align: center;
  }

  .secondTitleContainer {
    display: block;
    text-align: center;
  }

  .icons {
    margin: 8%;
  }

  .container p:nth-child(3) {
    margin-left: 0;

    .titleContainer,
    .secondTitleContainer {
      flex-direction: column;
      margin-top: 10%;
    }
  }

  .endTitle {
    font-size: 20px;
    margin-top: 44%;
  }
}

@media (max-width: 1050px) {
  .contactText {
    font-family: 'ContactFont';
    display: flex;
    flex-direction: row;
    gap: 2px;
    font-size: 60x !important;
  }
  .title {
    font-size: 40px;
  }

  .container {
    padding: 10px;
  }

  .container p {
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  hr {
    width: 94%;
  }

  .icons {
    margin: 8%;
  }

  .container p:nth-child(3) {
    margin-left: 0;

    .titleContainer,
    .secondTitleContainer {
      flex-direction: column;
      margin-top: 10%;
    }
  }

  .endTitle {
    font-size: 40px;
    margin-top: 44%;
  }
}
