@font-face {
  font-family: 'MyFontTitle';
  src: url('/src/assets/fonts/LatinaEssential-Medium.otf') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MyFontPara';
  src: url('/src/assets/fonts/Ysobel-W01-SemiBold.ttf') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'IMFont';
  src: url('/src/assets/fonts/upcfl_1.ttf') format('woff');
  font-display: swap;
}

.meContainer {
  background-color: #34353a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.styleImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
  left: 12%;
}

.mainPara {
  font-family: 'MyFontTitle';
  color: #e4e5e7;
  font-size: 1.3rem;
  user-select: none;
}

.linkStyle {
  text-decoration: none;
  color: #ffc86b;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  font-family: 'MyFontPara';
  padding: 0;
}

.title {
  font-family: 'MyFontPara';
  font-size: 3rem;
  color: #ffc86b;
  font-weight: bold;
  user-select: none;
}

.paraContainer {
  padding-left: 20%;
  user-select: none;
}

.title span {
  color: #e4e5e7;
  font-size: 2.5rem;
  font-family: 'IMFont';
}

.verticalLine {
  width: 2px;
  height: 100px;
  background-color: black;
  margin-right: 10px;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icon img {
  width: 40px;
  height: 40px;
}

.btnStyle {
  margin-top: 4%;
  background-color: transparent;
  padding: 12px 24px;
  color: #ffc86b;
  border: 2px solid #ffc86b;
  border-radius: 10px;
  outline: 2px solid #ffc86b;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  text-decoration: none;
  min-width: 48px;
  min-height: 48px;
  display: inline-block;
  font-size: 18px;
}

.btnStyle:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .paraContainer {
    width: 100%;
    position: absolute;
    top: 30%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    padding: 0%;
  }
  .styleImage {
    display: none;
  }
  .title {
    font-size: 1.3rem;
  }
  .mainPara {
    font-size: 15px;
  }
  .title span {
    font-size: 1.3rem;
  }

  .meContainer {
    height: 85vh;
    text-align: center;
    background-image: url('/images/ramzi.b.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
  }
}

@media (max-width: 1050px) {
  .styleImage {
    display: none;
  }
  .title {
    font-size: 1.5rem;
  }

  .title span {
    font-size: 1.5rem;
  }
}

@media (max-width: 961px) and (min-width: 601px) {
  .styleImage {
    display: flex;
  }
  .title {
    font-size: 1.5rem;
  }

  .title span {
    font-size: 1.5rem;
  }
}
