@font-face {
  font-family: 'Desc';
  src: url(../../assets/fonts/Exec-Corners-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Title';
  src: url(../../assets/fonts/CoreSansC-55Medium.woff) format('woff');
  font-display: swap;
}

.modalContainer {
  background-color: #3d3e42;
  border-radius: 12px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  margin: 5vh auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  z-index: 1000;
  overflow: none;
}

.image {
  width: 100%;
  height: auto;
  max-height: 180px;
  object-fit: contain;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-family: 'Title';
  color: rgb(255, 200, 107);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  user-select: none;
}

.description {
  font-size: 1.1rem;
  font-family: 'Desc';
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 1rem;
  user-select: none;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
  justify-content: start;
  align-items: center;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 4px;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #ffc86b;
}

@media screen and (max-width: 768px) {
  .modalContainer {
    width: 95%;
    padding: 1.5rem;
    max-width: 90%;
  }

  .title {
    font-size: 1.6rem;
  }

  .description {
    font-size: 1rem;
  }

  .image {
    max-height: 150px;
  }

  .closeButton {
    font-size: 1.8rem;
    top: -8px;
    right: 0px;
  }
}

@media screen and (max-width: 480px) {
  .modalContainer {
    width: 90%;
    padding: 1.2rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .description {
    font-size: 0.95rem;
  }

  .image {
    max-height: 130px;
  }

  .closeButton {
    font-size: 2rem;
  }
}
