@font-face {
  font-family: 'MyFontExp';
  src: local('MyFontExp'),
    url(../../../src/assets/fonts/Exec-Corners-Regular.woff) format('woff');
  font-family: 'TitleExp';
  src: local('TitleExp'),
    url(../../../src/assets/fonts/CoreSansC-55Medium.woff) format('woff');
}

.dateStyle {
  color: #fff;
  font-family: 'TitleExp';
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 1px solid #fff;
  margin: 0 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  letter-spacing: 2px;
}

li {
  color: #a1a1a2;
  font-family: 'MyFontExp';
}

h3,
h4 {
  font-family: 'TitleExp';
}

.spanStyle {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: 'MyFontExp';
}

.spanStyle span {
  display: inline-block;
  background-color: #a1a1a2;
  color: #ffffffcb;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

@media (max-width: 500px) {
  h3,
  h4 {
    font-size: 15px;
  }

  li {
    font-size: 14px;
  }

  .spanStyle span {
    font-size: 13px;
  }
}
