@font-face {
  font-family: 'TechFont';
  src: url(../../../src/assets/fonts/Exec-Corners-Regular.woff) format('woff');
  font-display: swap;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}

.techContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3d3e42;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 8%;
  cursor: pointer;
}

.techContainer:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #f0bf6c;
}

.techContainer img {
  margin-bottom: 10px;
}

.techContainer h5 {
  font-size: 0.9rem;
  color: #fff;
  margin: 0;
  font-family: 'TechFont';
  text-transform: capitalize;
}

.aboutTitle {
  text-align: center;
}

@media (max-width: 600px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}
