@font-face {
  font-family: 'TextFont';
  src: local('TextFont'),
    url(../src/assets/fonts/fonnts.com-Mencken-Std-Text-Extra-Bold.otf)
      format('woff');
}

body {
  background-color: rgba(61, 62, 66, 255);
  background-color: #31333b;
  scroll-behavior: smooth;
  padding: 2%;
  overflow-x: hidden;
}

h1 {
  font-family: 'TextFont';
  color: #f9f9f9;
  font-size: 3rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3d3e42;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  h1 {
    font-size: 25px !important;
  }
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
}

.scrollBtn {
  position: fixed;
  bottom: 20px;
  right: 11px;
  background-color: rgb(255, 200, 107);
  color: #31333b;
  border: none;
  border-radius: 25%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  cursor: pointer;
  z-index: 1000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}
